certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
idna==2.10
joblib==1.0.1
nltk==3.5
numpy==1.20.1
regex==2021.3.17
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
selenium==3.141.0
sklearn==0.0
threadpoolctl==2.1.0
tqdm==4.59.0
urllib3==1.26.4
webdriver-manager==3.3.0
